<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-book-heading">Create or edit a Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!book.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="book.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="book.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="book.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isbn">Isbn</label>
                    <input type="text" class="form-control" name="isbn" id="field_isbn"
                        [(ngModel)]="book.isbn" required/>
                    <div [hidden]="!(editForm.controls.isbn?.dirty && editForm.controls.isbn?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isbn?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_author">Author</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                        [(ngModel)]="book.author" required/>
                    <div [hidden]="!(editForm.controls.author?.dirty && editForm.controls.author?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.author?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_summary">Summary</label>
                    <input type="text" class="form-control" name="summary" id="field_summary"
                        [(ngModel)]="book.summary" required/>
                    <div [hidden]="!(editForm.controls.summary?.dirty && editForm.controls.summary?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.summary?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_datePublished">Date Published</label>
                    <div class="input-group">
                        <input id="field_datePublished" type="text" class="form-control" name="datePublished" ngbDatepicker  #datePublishedDp="ngbDatepicker" [(ngModel)]="book.datePublished"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePublishedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.datePublished?.dirty && editForm.controls.datePublished?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.datePublished?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="book.id !== undefined">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="book.status" id="field_status"  required>
                        <option value="AVAILABLE">AVAILABLE</option>
                        <option value="IN_USE">IN_USE</option>
                        <option value="NOT_AVAILABLE">NOT_AVAILABLE</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + book.imageContentType + ';base64,' + book.image" style="max-height: 100px;" *ngIf="book.image" alt="book image"/>
                        <div *ngIf="book.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{book.imageContentType}}, {{byteSize(book.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, book, 'image', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="book.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="book.imageContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
