
<div class="wrapper wrapper-content" *ngIf="(!books || books === undefined) && currentSearch === null">
    <h2>Welcome! we have no books in for lend. Please check back later!</h2>
</div>
<div class="wrapper wrapper-content animated fadeInRight" *ngIf="books">
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Search...">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3" *ngFor="let book of books ;trackBy: trackId" [hidden]="book.status !== 'AVAILABLE'">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="carousel-inner">
                        <div class="active">
                            <img src="data:image/PNG;base64,{{book.image}}" height="200" width="350">
                        </div>
                    </div>
                    <div class="product-desc">
                            <span class="product-price">
                                Published: {{book.datePublished | date:'mediumDate'}}
                            </span>
                        <small class="text-muted">Author: {{book.author}}</small>
                        <a [routerLink]="['/book', book.id, 'info']" class="product-name"> {{book.title}}</a>
                        <div class="small m-t-xs">
                            {{book.description}}
                        </div>
                        <div class="m-t text-right">
                            <a [routerLink]="['/book', book.id, 'info']" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
